* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.web-app {
    max-width: 100vw;
    max-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    overflow: auto;
}




/* Header */
.header {
    background-color: black;
    position: relative;
    width: 100%;
    padding: 1.5rem;
}

.header span {
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 0.3rem 0.3rem;
}

.header span:first-child {
    margin-right: 0.1rem;
}

.fa-solid {
    vertical-align: middle;
}

.span-container {
    position: absolute;
    top: 10px;
    right: 0.1rem;
}

/* Main */

.main {
    padding: 20px 50px;
    overflow: auto;
}

.main-container {
    display: flex;
    row-gap: .7rem;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    position: relative;

}

.img-container {
    max-width: calc((100% / 7) - 0.5rem);
    max-height: 90%;
    position: relative;

}

.img-walrus {
    width: 100%;
    display: inline-block;
}

.pinco {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 10px;
    left: 0;
    padding: 0.2rem;
}

.nav {
    padding: 10px;
    background-color: #222222;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.inline {
    display: inline-block;
}

.font {
    font-size: 20px;
    text-align: center;
}

.font-text {
    font-size: 15px;
    text-align: center;
}

.user-container {
    display: flex;
    margin: .3rem;
}

.flex-item {
    display: flex;
}

.apice {
    display: flex;
    align-items: center;
    padding: .5rem;
}

.fa-share-from-square {
    color: #40c107;
}

.end {
    display: flex;
    justify-content: center;
    color: red;
    background-color: #4a4a4a;
    padding: 0rem 2rem;
    position: absolute;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}


.user-container:hover {
    background-color: #4a4a4a;
    border-radius: 5px;
}